* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  height: 3000px;
}

:root {
  --pointText: #5cffc0;
  --grayText: #686868;
}

h2 {
  font-size: 72px;
  line-height: 100px;
  font-weight: 600;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 20px;
}

button {
  width: 280px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Lato", sans-serif;
}

button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#31f8ab), to(#39c2ee));
  background: linear-gradient(to right, #31f8ab, #39c2ee);
  border: 0;
  color: #101010;
}

.pointColor {
  color: var(--pointText);
}

.wrapper header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 28px 0;
  z-index: 99;
}

.wrapper header .inner {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
}

.wrapper header .inner nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

.wrapper header .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper header .inner nav ul li {
  margin-left: 125px;
}

.wrapper header .inner nav ul li a:hover {
  cursor: pointer;
  color: var(--pointText);
}

.wrapper main section.main_VIDEO {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main section.main_VIDEO video {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #333;
  z-index: -1;
}

.wrapper main section.main_VIDEO button {
  margin-top: 68px;
}

.wrapper main section.main_VIDEO .mouseScroll {
  position: absolute;
  bottom: 38px;
}

.wrapper main section.main_VIDEO .mouseScroll p {
  margin-top: 15px;
  color: rgba(92, 255, 192, 0.3);
  font-size: 14px;
}

.wrapper main section.PROMO {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main section.PROMO video {
  margin-top: 35px;
  width: 1088px;
  height: 612px;
  background-color: #616161;
}

.wrapper main section.UNIVERSE {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main section.UNIVERSE h4 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.wrapper main section.UNIVERSE ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 80px;
}

.wrapper main section.UNIVERSE ul li {
  width: 446px;
  height: 380px;
  background-color: #156;
  padding: 10px;
  margin: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 16px;
}

.wrapper main section.UNIVERSE ul li img {
  border-radius: 12px;
}

.wrapper main section.UNIVERSE ul li p {
  text-align: left;
  padding: 10px;
}

.wrapper main section.ROADMAP {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main section.ROADMAP ul {
  position: relative;
  width: 1162px;
  height: 379px;
  background-color: #156;
}

.wrapper main section.ROADMAP ul li {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper main section.ROADMAP ul li .title {
  width: 114px;
  height: 379px;
  background-color: #8745;
}

.wrapper main section.ROADMAP ul li .content {
  width: 100%;
  height: 379px;
  background-color: blue;
}

.wrapper main section.TEAM {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main section.PARTNERS {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main section.COMMUNITY {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */