// 색상 등록
:root {
  --pointText: #5cffc0;
  --grayText: #686868;
}

// 중앙 정렬
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// text 호버 효과
@mixin text_hover {
  cursor: pointer;
  color: var(--pointText);
}

// COMMON
* {
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;

  body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #010101;
    background-color: rgb(60, 105, 67); // 임시 색상
    color: #fff;
  }

  img {
    display: block;
  }

  h2 {
    font-size: 72px;
    line-height: 108px;
    font-weight: 600;
  }

  h3 {
    font-size: 48px;
    line-height: 96px;
    font-weight: 600;
  }

  h4 {
    font-size: 20px;
    line-height: 36px;
  }

  button {
    width: 280px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-family: "Lato", sans-serif;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, #31f8ab, #39c2ee);
      border: 0;
      color: #101010;
    }
  }

  .pointColor {
    color: var(--pointText);
  }
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #fff; // 임시 영역 구분
}

// header 영역
.wrapper {
  header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    @include center();

    .inner {
      position: relative;
      width: 1400px;
      margin: 0 auto;

      h1 {
      }

      nav {
        position: absolute;
        right: 0;
        bottom: 0;

        ul {
          display: flex;

          li {
            margin-left: 125px;

            a {
              &:hover {
                @include text_hover();
              }
            }
          }
        }
      }
    }
  }
}

// main 영역
.wrapper {
  main {
    section.main_VIDEO {
      video {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #333; // (임시) 영상 부분
        z-index: -1;
      }

      h2 {
        margin-bottom: 68px;

        span {
        }
      }

      a {
        button {
        }
      }

      .mouseScroll {
        position: absolute;
        bottom: 30px;
        @include center();
        flex-direction: column;

        p {
          margin-top: 12px;
          color: rgba(#5cffc0, 0.3);
          font-size: 16px;
        }
      }
    }

    section.PROMO {
      h3 {
        margin-bottom: 35px;
      }

      video {
        // margin-top: 35px;
        width: 800px;
        height: 350px;
        background-color: #616161; // (임시) 영상 부분
      }
    }

    section.UNIVERSE {
      h3 {
      }

      h4 {
        margin-bottom: 70px;
      }

      ul {
        display: flex;
        margin-bottom: 130px;

        li {
          width: 320px;
          height: 270px;
          padding: 15px;
          background-color: #156;
          margin: 0 10px;
          border-radius: 16px;

          img {
            width: 100%;
            border-radius: 12px;
          }

          p {
            text-align: left;
            line-height: 40px;

            span {
            }
          }
        }
      }

      button {
      }
    }

    section.ROADMAP {
      h3 {
      }

      article {
        width: 1160px;
        height: 500px;
        display: flex;
        border-radius: 16px;
        background-color: #111;

        .title {
          display: block;
          width: 140px;
          height: 100%;
          padding: 24px 0;
          border-radius: 16px 0 0 16px;
          background-color: #0e0f0f;

          button {
            width: 100%;
            border: 0;
            font-size: 32px;

            &:hover {
              background: transparent;
              color: #fff;
            }
          }
        }

        ul {
          position: relative;
          width: calc(100% - 140px);
          height: 100%;

          li {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 42px;
            p {
              text-align: left;
              font-size: 16px;
              line-height: 32px;
            }

            p:hover {
              color: var(--pointText);
            }

            &:nth-child(1) {
              position: absolute;
              // display: none;

              img {
                position: absolute;
                top: 55px;
                right: 55px;
              }
            }

            &:nth-child(2) {
              position: absolute;
              display: none;
            }

            &:nth-child(3) {
              position: absolute;
              display: none;
            }
          }
        }
      }
    }

    section.TEAM {
      height: 100vh;
      @include center();
      flex-direction: column;
      h3 {
      }
      h4 {
        margin-bottom: 40px;
      }
      ul {
        display: flex;
        margin-bottom: 80px;
        li {
          width: 260px;
          height: 330px;
          background-color: #000;
          margin-left: 40px;
          border-radius: 16px;
          padding: 10px;
          .img_area {
            img {
              width: 100%;
            }
          }
          p {
            font-size: 26px;
            line-height: 26px;

            span {
              font-size: 16px;
            }
          }
        }
      }
      // 문자열이 돌아가는 부분
      article {
        display: flex;
        // justify-content: space-evenly;
        width: 100%;
        height: 80px;
        background-color: #000;
        .rotation_text {
          @include center();
          margin: 0 10px;
          bottom: 0;
          position: relative;
          animation-name: rotation_text; // 애니메이션 명
          animation-duration: 10s; // 완료까지 걸리는 시간 설정
          animation-timing-function: linear; // 속도 곡선 설정
          // animation-delay: 2s; // 지연 설정
          animation-iteration-count: infinite; // 반복 설정
          // animation-direction: alternate; // 재생 방향 설정
          p {
            font-size: 36px;
            font-weight: 300;
            margin-right: 16px;
            white-space: nowrap;
          }
          img {
          }
        }
        @keyframes rotation_text {
          0% {
            left: 0px;
            top: 0px;
          }
          100% {
            left: -100%;
            top: 0px;
          }
        }
      }
    }

    section.PARTNERS {
      height: 100vh;
      @include center();
      flex-direction: column;
      width: 1400px;
      margin: 0 auto;
      h3 {
      }
      h4 {
        margin-bottom: 30px;
      }
      ul {
        @include center();
        display: flex;
        flex-wrap: wrap;
        li {
          @include center();
          width: 210px;
          height: 115px;
          margin: 7.5px;
          font-size: 32px;
          border-radius: 16px;
          background-color: #666;
        }
      }
    }

    section.COMMUNITY {
      height: 100vh;
      @include center();
      flex-direction: column;
      h3 {
      }
      h4 {
        margin-bottom: 60px;
      }
      ul {
        display: flex;
        margin-bottom: 120px;
        li {
          width: 500px;
          height: 360px;
          padding: 10px;
          margin: 0 25px;
          border-radius: 10px;
          background-color: #000;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

// footer 영역
.wrapper {
  footer {
    @include center();
    flex-direction: column;
    .top {
      @include center();
      height: 30vh;
      p {
        // height: 5vh;
        font-size: 48px;
        font-weight: 600;
        line-height: 72px;
      }
    }
    .bottom {
      @include center();
      flex-direction: column;
      width: 100%;
      height: 45vh;
      background-image: url(/img/footer/footerBG.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .layout {
        width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .left {
          p {
            text-align: left;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 30px;
          }
          form {
            @include center();
            width: 320px;
            height: 50px;
            border-radius: 15px;
            background-color: #156;
            input {
              text-align: left;
              outline: none;
              background-color: transparent;
              border: 0;
              // background-color: #fff;
            }
            button {
              width: 65px;
              border: 0;
            }
          }
        }
        .right {
          email {
            font-size: 20px;
            font-weight: 600;
          }
          p {
          }
          ul {
            display: flex;
            li {
            }
          }
        }
      }
      p {
      }
    }
  }
}
