// 중앙 정렬
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// text 호버 효과
@mixin text_hover {
  cursor: pointer;
  color: var(--pointText);
}

// header 영역
header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  @include center();

  > .inner {
    @include center();
    justify-content: space-between;

    > h1 {
      margin-left: 3.125rem;
    }

    > nav {
      > ul {
        display: flex;

        > li {
          margin: 1.25rem 3.125em;

          > a {
            &:hover {
              @include text_hover();
            }
          }
        }
      }
    }

    // nav 클릭 후, 추가되는 클래스의 색상
    > .onClick {
      @include text_hover();
    }
  }
}

// main 영역
main {
  // 공통 옵션
  > section {
    padding-top: 80px;
    position: relative;
    width: 100%;
    height: 100vh;
    @include center();
    flex-direction: column;
    overflow: hidden;

    > h2 {
      font-size: 48px;
      font-weight: 600;
      line-height: 96px;
    }
  }

  > section.main_VIDEO {
    padding-top: 0;

    > video {
      position: absolute;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -2;
    }

    // 영상 밝기 조절
    > &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: -1;
    }

    > h2 {
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 6.75rem;
      margin-bottom: 4.25rem;
    }

    > a {
      > button {
      }
    }

    > .mouseScroll {
      position: absolute;
      bottom: 30px;
      @include center();
      flex-direction: column;

      > img {
        margin: 6px;
        animation-name: move; // 애니메이션 명
        animation-duration: 0.5s; // 완료까지 걸리는 시간 설정
        animation-timing-function: linear; // 속도 곡선 설정
        // animation-delay: 2s; // 지연 설정
        animation-iteration-count: infinite; // 반복 설정
        animation-direction: alternate; // 재생 방향 설정
      }

      @keyframes move {
        100% {
          margin: 0px;
        }
      }

      > p {
        margin-top: 12px;
        color: rgba(#5cffc0, 0.3);
        font-size: 16px;
      }
    }
  }

  > section.PROMO {
    > video {
      margin-top: 35px;
      width: 50%;
    }
  }

  > section.UNIVERSE {
    > p {
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      margin-bottom: 30px;
    }

    > .swiper {
      width: 100%;

      > ul.swiper-wrapper {
        display: flex;

        > li.swiper-slide {
          padding: 15px 15px 0 15px;
          border-radius: 16px;
          background-color: #000;

          > img {
            width: 100%;
            border-radius: 12px;
          }

          > p {
            text-align: left;
            line-height: 50px;
          }
        }
      }
    }

    > button {
      margin-top: 60px;
    }
  }

  > section.ROADMAP {
    > article {
      width: 70%;
      height: 65vh;
      display: flex;
      border-radius: 16px;
      background-color: #111;

      > .title {
        display: block;
        width: 140px;
        height: 100%;
        padding: 24px 0;
        border-radius: 16px 0 0 16px;
        background-color: #0e0f0f;

        > button {
          position: relative;
          width: 100%;
          border: 0;
          font-size: 32px;
          margin-bottom: 30px;
        }

        > .onClick {
          color: #31f8ab;

          &:before {
            position: absolute;
            content: "";
            width: 4px;
            height: 50%;
            background-color: #31f8ab;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            border-radius: 10px;
          }
        }
      }

      > ul {
        position: relative;
        width: calc(100% - 140px);
        height: 100%;

        > li {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 42px;

          > p {
            text-align: left;
            font-size: 16px;
            line-height: 32px;
          }

          > p:hover {
            color: var(--pointText);
          }

          > &:nth-child(1) {
            position: absolute;

            > img {
              position: absolute;
              top: 55px;
              right: 55px;
            }
          }

          > &:nth-child(2) {
            position: absolute;
          }

          > &:nth-child(3) {
            position: absolute;

            > p {
              font-size: 32px;
              color: #666;
            }
          }
        }
      }
    }
  }

  > section.TEAM {
    > p {
      font-size: 20px;
      line-height: 36px;
      font-weight: 400;
    }

    > .swiper {
      width: 100%;

      > ul {
        height: 330px;

        > li {
          box-sizing: border-box;
          height: 270px;
          background-color: #000;
          border-radius: 13px;
          margin: 10px;
          padding: 10px;

          > .img_area {
            width: 100%;

            > img {
              width: 100%;
            }
          }

          > .title_area {
            width: 100%;

            > .name {
              padding: 10px;
              font-size: 26px;
              line-height: 26px;
            }

            > .job {
              padding: 10px;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
    }

    // 문자열이 회전
    > ul {
      margin-top: 40px;
      display: flex;
      // justify-content: space-evenly;
      width: 100%;
      height: 80px;
      background-color: #000;

      > .rotation_text {
        @include center();
        margin: 0 30px;
        bottom: 0;
        position: relative;
        animation-name: rotation_text1; // 애니메이션 명
        animation-duration: 30s; // 완료까지 걸리는 시간 설정
        animation-timing-function: linear; // 속도 곡선 설정
        // animation-delay: 2s; // 지연 설정
        animation-iteration-count: infinite; // 반복 설정

        // animation-direction: alternate; // 재생 방향 설정
        > p {
          font-size: 36px;
          font-weight: 300;
          margin-right: 16px;
          white-space: nowrap;
        }

        > img {
        }
      }

      @keyframes rotation_text {
        0% {
          left: 0;
        }

        to {
          left: -2000px;
        }
      }
    }
  }

  > section.PARTNERS {
    height: 100vh;
    @include center();
    flex-direction: column;
    width: 1400px;
    margin: 0 auto;

    > h3 {
    }

    > h4 {
      margin-bottom: 30px;
    }

    > ul {
      @include center();
      display: flex;
      flex-wrap: wrap;

      > li {
        color: #666;
        @include center();
        width: 210px;
        height: 115px;
        margin: 7.5px;
        font-size: 32px;
        border-radius: 16px;
        background-color: #161616;
      }
    }
  }

  > section.COMMUNITY {
    height: 100vh;
    @include center();
    flex-direction: column;

    > h3 {
    }

    > h4 {
      margin-bottom: 60px;
    }

    > .swiper {
      width: 100%;

      > ul {
        display: flex;
        margin-bottom: 120px;

        > li {
          @include center();
          width: 500px;
          height: 330px;
          padding: 10px;
          // margin: 0 25px;
          border-radius: 10px;
          background-color: #000;

          > img {
            width: 100%;
          }
        }
      }
    }
  }
}

// footer 영역

footer {
  @include center();
  flex-direction: column;

  .top {
    @include center();
    height: 50vh;

    p {
      font-size: 48px;
      font-weight: 600;
      line-height: 72px;
    }
  }

  .bottom {
    @include center();
    flex-direction: column;
    width: 100%;
    height: 50vh;
    position: relative;

    > img {
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 100%;
    }

    .wrapper {
      .layout {
        width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        .left {
          p {
            text-align: left;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 30px;
          }

          form {
            @include center();
            justify-content: space-between;
            padding: 10px;
            width: 320px;
            height: 50px;
            border-radius: 15px;
            background-color: #000;

            input {
              text-align: left;
              font-size: 16px;
              outline: none;
              background-color: transparent;
              border: 0;
              color: #fff;
            }

            button {
              font-size: 16px;
              background-color: transparent;
              border: 0;
            }
          }
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-direction: column;

          email {
            font-size: 20px;
            font-weight: 600;
            text-decoration: underline;
          }

          p {
            display: flex;

            span {
              margin-left: 30px;
              position: relative;

              &::before {
                content: "";
                width: 2px;
                height: 15px;
                background-color: #fff;
                position: absolute;
                left: -15px;
              }
            }
          }

          ul {
            margin-top: 30px;
            display: flex;

            li {
              width: 40px;
              margin: 0 5px;

              a {
                > img {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      > p {
        font-size: 14px;
        line-height: 29px;
      }
    }
  }
}

// 모달
.ConnectWallet {
  position: fixed;
  top: 130px;
  right: 180px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  background-image: url(../img/s01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:hover {
    border: 0;
    background: linear-gradient(to right, #31f8ab, #39c2ee); // 적용이 안됨
    background-color: #31f8ab;
    background-image: url(../img/s02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:hover::before {
    position: absolute;
    content: "Connect Wallet";
    width: 150px;
    height: 35px;
    top: 10px;
    left: -180px;
    background-color: #fff;
    color: #000;
    @include center();
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
  }

  &:hover::after {
    position: absolute;
    content: "";
    top: 18px;
    left: -35px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 10px solid transparent;
  }

  img {
    width: 100%;

    &:hover {
    }
  }

  > .modal {
    @include center();
    flex-direction: column;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 320px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #000;
    z-index: 10;

    img {
      width: 14%;
      margin-bottom: 25px;
    }

    p {
      font-size: 28px;
      font-weight: 600;
      color: #31f8ab;
    }
  }
}

// 미디어 쿼리 작업 중

main {
  section:nth-child(1) {
    // display: none;
  }

  section:nth-child(2) {
    // display: none;
  }

  section:nth-child(3) {
    // display: none;
  }

  section:nth-child(4) {
    // display: none;
  }

  section:nth-child(5) {
    // display: none;
  }

  section:nth-child(6) {
    display: none;
  }

  section:nth-child(7) {
    display: none;
  }
}

footer {
  display: none;
}
