header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header > .inner > h1 {
  margin-left: 3.125rem;
}

header > .inner > nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > .inner > nav > ul > li {
  margin: 1.25rem 3.125em;
}

header > .inner > nav > ul > li > a:hover {
  cursor: pointer;
  color: var(--pointText);
}

header > .inner .onClick {
  cursor: pointer;
  color: var(--pointText);
}

main > section {
  padding-top: 80px;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > section > h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 96px;
}

main > section.main_VIDEO {
  padding-top: 0;
}

main > section.main_VIDEO > video {
  position: absolute;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

main > section.main_VIDEO::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

main > section.main_VIDEO > h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 6.75rem;
  margin-bottom: 4.25rem;
}

main > section.main_VIDEO > .mouseScroll {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > section.main_VIDEO > .mouseScroll > img {
  margin: 6px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes move {
  100% {
    margin: 0px;
  }
}

@keyframes move {
  100% {
    margin: 0px;
  }
}

main > section.main_VIDEO > .mouseScroll > p {
  margin-top: 12px;
  color: rgba(92, 255, 192, 0.3);
  font-size: 16px;
}

main > section.PROMO > video {
  margin-top: 35px;
  width: 50%;
}

main > section.UNIVERSE > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
}

main > section.UNIVERSE > .swiper {
  width: 100%;
}

main > section.UNIVERSE > .swiper > ul.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > section.UNIVERSE > .swiper > ul.swiper-wrapper > li.swiper-slide {
  padding: 15px 15px 0 15px;
  border-radius: 16px;
  background-color: #000;
}

main > section.UNIVERSE > .swiper > ul.swiper-wrapper > li.swiper-slide > img {
  width: 100%;
  border-radius: 12px;
}

main > section.UNIVERSE > .swiper > ul.swiper-wrapper > li.swiper-slide > p {
  text-align: left;
  line-height: 50px;
}

main > section.UNIVERSE > button {
  margin-top: 60px;
}

main > section.ROADMAP > article {
  width: 70%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 16px;
  background-color: #111;
}

main > section.ROADMAP > article > .title {
  display: block;
  width: 140px;
  height: 100%;
  padding: 24px 0;
  border-radius: 16px 0 0 16px;
  background-color: #0e0f0f;
}

main > section.ROADMAP > article > .title > button {
  position: relative;
  width: 100%;
  border: 0;
  font-size: 32px;
  margin-bottom: 30px;
}

main > section.ROADMAP > article > .title > .onClick {
  color: #31f8ab;
}

main > section.ROADMAP > article > .title > .onClick:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50%;
  background-color: #31f8ab;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
}

main > section.ROADMAP > article > ul {
  position: relative;
  width: calc(100% - 140px);
  height: 100%;
}

main > section.ROADMAP > article > ul > li {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 42px;
}

main > section.ROADMAP > article > ul > li > p {
  text-align: left;
  font-size: 16px;
  line-height: 32px;
}

main > section.ROADMAP > article > ul > li > p:hover {
  color: var(--pointText);
}

main > section.ROADMAP > article > ul > li:nth-child(1) {
  position: absolute;
}

main > section.ROADMAP > article > ul > li:nth-child(1) img {
  position: absolute;
  top: 55px;
  right: 55px;
}

main > section.ROADMAP > article > ul > li:nth-child(2) {
  position: absolute;
}

main > section.ROADMAP > article > ul > li:nth-child(3) {
  position: absolute;
}

main > section.ROADMAP > article > ul > li:nth-child(3) > p {
  font-size: 32px;
  color: #666;
}

main > section.TEAM > p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

main > section.TEAM > .swiper {
  margin-top: 40px;
  width: 100%;
}

main > section.TEAM > .swiper > ul > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  border-radius: 13px;
  padding: 10px;
}

main > section.TEAM > .swiper > ul > li > .img_area > img {
  width: 100%;
}

main > section.TEAM > .swiper > ul > li > .title_area > .name {
  padding: 10px;
  font-size: 26px;
  line-height: 26px;
}

main > section.TEAM > .swiper > ul > li > .title_area > .job {
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
}

main > section.TEAM > ul {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #000;
  overflow: hidden;
}

main > section.TEAM > ul > .rotation_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%-30px);
  position: relative;
  -webkit-animation-name: rotation_text;
          animation-name: rotation_text;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

main > section.TEAM > ul > .rotation_text > p {
  font-size: 36px;
  font-weight: 300;
  margin-right: 16px;
  white-space: nowrap;
}

@-webkit-keyframes rotation_text {
  0% {
    left: 0;
  }
  to {
    left: -2000px;
  }
}

@keyframes rotation_text {
  0% {
    left: 0;
  }
  to {
    left: -2000px;
  }
}

main > section.PARTNERS > p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 30px;
}

main > section.PARTNERS > ul {
  width: 1470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main > section.PARTNERS > ul > li {
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 115px;
  margin: 7.5px;
  font-size: 32px;
  border-radius: 16px;
  background-color: #161616;
}

main > section.COMMUNITY > p {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 30px;
}

main > section.COMMUNITY > .swiper {
  width: 100%;
}

main > section.COMMUNITY > .swiper > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > section.COMMUNITY > .swiper > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #000;
}

main > section.COMMUNITY > .swiper > ul > li > img {
  width: 100%;
}

main > section.COMMUNITY > button {
  margin-top: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

footer .top p {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vh;
  position: relative;
}

footer .bottom > img {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

footer .bottom .wrapper .layout {
  width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

footer .bottom .wrapper .layout .left p {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

footer .bottom .wrapper .layout .left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  width: 320px;
  height: 50px;
  border-radius: 15px;
  background-color: #000;
}

footer .bottom .wrapper .layout .left form input {
  text-align: left;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  border: 0;
  color: #fff;
}

footer .bottom .wrapper .layout .left form button {
  font-size: 16px;
  background-color: transparent;
  border: 0;
}

footer .bottom .wrapper .layout .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bottom .wrapper .layout .right email {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}

footer .bottom .wrapper .layout .right p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom .wrapper .layout .right p span {
  margin-left: 30px;
  position: relative;
}

footer .bottom .wrapper .layout .right p span::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: -15px;
}

footer .bottom .wrapper .layout .right ul {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom .wrapper .layout .right ul li {
  width: 40px;
  margin: 0 5px;
}

footer .bottom .wrapper .layout .right ul li a > img {
  width: 100%;
}

footer .bottom .wrapper > p {
  font-size: 14px;
  line-height: 29px;
}

.ConnectWallet {
  position: fixed;
  top: 130px;
  right: 180px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  background-image: url(../img/s01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ConnectWallet:hover {
  border: 0;
  background: -webkit-gradient(linear, left top, right top, from(#31f8ab), to(#39c2ee));
  background: linear-gradient(to right, #31f8ab, #39c2ee);
  background-color: #31f8ab;
  background-image: url(../img/s02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ConnectWallet:hover::before {
  position: absolute;
  content: "Connect Wallet";
  width: 150px;
  height: 35px;
  top: 10px;
  left: -180px;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.ConnectWallet:hover::after {
  position: absolute;
  content: "";
  top: 18px;
  left: -35px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 10px solid transparent;
}

.ConnectWallet img {
  width: 100%;
}

.ConnectWallet > .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 480px;
  height: 320px;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #000;
  z-index: 10;
}

.ConnectWallet > .modal img {
  width: 14%;
  margin-bottom: 25px;
}

.ConnectWallet > .modal p {
  font-size: 28px;
  font-weight: 600;
  color: #31f8ab;
}
/*# sourceMappingURL=style.css.map */